html {
  height: 100%;
  width: 100%;
}
body {
  color: #333;
  font-size: 16px;
  width: 1020px;
  margin: 0 auto;
  font-family: "微软雅黑";
  height: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  box-sizing: border-box;
}
body .left,
body .right {
  height: 100%;
  overflow: auto;
  scrollbar-base-color: transparent;
  scrollbar-face-color: #AAA;
}
body .left::-webkit-scrollbar,
body .right::-webkit-scrollbar {
  width: 6px;
  border: none;
}
body .left::-webkit-scrollbar-thumb,
body .right::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #AAA;
}
body .left {
  width: 600px;
  float: left;
}
body .left .title {
  color: #333;
  padding-bottom: 6px;
  border-bottom: 10px solid #CCC;
}
body .left .title small {
  font-size: 14px;
  color: #666;
}
body .left #f1 > div {
  min-height: 40px;
  clear: both;
  margin: 20px 0 10px;
}
body .left #f1 > div label {
  display: inline-block;
  float: left;
  padding-right: 5px;
  line-height: 24px;
}
body .left #f1 > div select,
body .left #f1 > div input[type=text] {
  width: 200px;
  border: 1px solid #AAA;
}
body .left #f1 > div label:hover,
body .left #f1 > div select:hover,
body .left #f1 > div input:hover,
body .left #f1 > div textarea:not(.code):hover {
  border: 1px solid #666666;
}
body .left #f1 > div label:hover + .code,
body .left #f1 > div select:hover + .code,
body .left #f1 > div input:hover + .code,
body .left #f1 > div textarea:not(.code):hover + .code {
  background-color: #f2f2f2;
}
body .left .f2 {
  margin: 20px 0;
  border: 4px solid #CCC;
  padding: 10px;
}
body .right {
  width: 400px;
  float: right;
}
body .right .notsupport {
  background-color: #f00;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0;
}
body .right .outstand {
  color: #FF0C00;
  font-weight: bold;
  font-size: 1em;
  font-family: "黑体";
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
}
body .right .features {
  line-height: 28px;
}
body .right .buttons {
  clear: both;
}
body .right .buttons button {
  background: #F8F8F8;
  color: #333;
  border: 1px solid #CCC;
  padding: 5px 10px;
  cursor: pointer;
}
body .right .buttons button:hover {
  background: #F0F0F0;
  border-color: #666666;
}
body .right .buttons button:hover + .code {
  background-color: #f2f2f2;
}
body .right .buttons > .code {
  margin: 5px 0 20px;
}
body .right a,
body .right a:visited,
body .right a:link,
body .right a:hover,
body .right a:focus {
  color: #303030;
}
body h3 {
  color: #333;
  padding: 10px 0 3px;
  border-bottom: 4px solid #CCC;
}
body textarea.code,
body .quote {
  clear: both;
  background-color: #FAFAFA;
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  display: block;
}
body .quote {
  margin-top: 10px;
  color: #333;
}
body textarea.code {
  font-family: 'Courier New';
  font-size: 0.8em;
  color: #6B6868;
  resize: initial;
  width: 100%;
  border: none;
  line-height: 28px;
  overflow: hidden;
}
body textarea.code:hover {
  background-color: #f5f5f5;
}
body input[type=text],
body input[type=password],
body select {
  min-height: 28px;
  line-height: 28px;
}
body input,
body select,
body textarea {
  outline: none;
}
